In [25]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [26]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [27]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [59]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = dt.date(2017, 6, 30) - dt.timedelta(days=30)

In [60]:
#  3. Convert the June temperatures to a list.
results = []
results = session.query(Measurement.tobs).filter(Measurement.date >= june_temps).all()

In [61]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['temperature'])
df.set_index(df['temperature'], inplace=True)

In [62]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df = df.sort_index()
df.describe()

       temperature
count   481.000000
mean     78.041580
std       2.898695
min      69.000000
25%      76.000000
50%      78.000000
75%      80.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [68]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = dt.date(2016, 12, 31) - dt.timedelta(days=30)

In [69]:
# 7. Convert the December temperatures to a list.
results = []
results = session.query(Measurement.tobs).filter(Measurement.date >= dec_temps).all()

In [70]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(results, columns=['temperature'])
df.set_index(df['temperature'], inplace=True)

In [71]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df = df.sort_index()
df.describe()

       temperature
count  1597.000000
mean     73.766437
std       4.867794
min      58.000000
25%      70.000000
50%      74.000000
75%      77.000000
max      87.000000